/* Styles for Product List Component */

/* Centralizar conteúdo das colunas de Ano, Status e Ações se não for feito inline */
/* Exemplo:
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td:nth-child(5),
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td:nth-child(7),
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td:nth-child(8) {
  text-align: center;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th:nth-child(5),
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th:nth-child(7),
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th:nth-child(8) {
  text-align: center;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td:nth-child(6) {
  text-align: right;
}
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th:nth-child(6) {
  text-align: right;
}
*/

/* Estilo para o cursor no p-tag de status */
:host ::ng-deep .p-tag {
  cursor: pointer;
}

.p-inputtext-sm {
    font-size: 0.875rem; /* Ajustar conforme o tema do PrimeNG */
    padding: 0.4375rem 0.65625rem; /* Ajustar conforme o tema do PrimeNG */
}
