
:host ::ng-deep .field p-inputSwitch + label {
  margin-left: 0.5rem; 
  vertical-align: middle; 
}


:host ::ng-deep .p-fluid .field .p-inputtextarea {
    width: 100%;
}


.p-dialog-footer {
    padding-top: 1.5rem; 
    border-top: 1px solid var(--surface-border); 
}


:host ::ng-deep .p-fluid .p-dropdown {
    width: 100%;
}


:host ::ng-deep .p-fluid .p-inputnumber {
    width: 100%;
}


.flex.align-items-center {
    display: flex;
    align-items: center;
}


@media (max-width: 767px) { 
    .field.col-12.md\:col-2.flex.align-items-center {
        margin-top: 1rem; 
    }
}
